@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";
:root{
  --product-item-margin: 0.625em;
  --product-item-border-width: 2px;
  --link-color: #0087d5;
  --btn-color: rgba(255, 7, 49, 1);
  --btn-hover-color: rgba(200,7,49, 1);
  --border-color-default: #dedede;

}
html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
	font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }
h1 {
  font-size: 1.5em;
  font-weight: bold;
  display: block;
  margin-bottom: .5em;
}
a {
  text-decoration: none;
  color: var(--link-color);
    &:hover { text-decoration: underline;}
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section, .section {
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: $desktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 20px 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  padding: 1em;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;
}
.btn {
  color: #fff;
  background-color: var(--btn-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  transition: .3s;
  &:hover {
    text-decoration: none;
    background-color: var(--btn-hover-color);
  }
}

// Modules
 @import "modules/product.scss";
 @import "modules/menu.scss";
 @import "modules/data.scss";
