-
  var items = [
    {
      id: "16603",
      href: "catalog.html?itemid=16603",
      src: "https://img.techelement.ru/dflkjDFGddf5rfsdGDFggdfg/auto/0/200/sm/0/plain/https://techelement.ru/content/files/catalog1/source/9069_1431269522.jpg",
      descr: "Болгарка Makita 9069",
      power: "2000 Вт",
      spin: "6600 об/мин",
      d: "230 мм",
      set: "2.50 м",
      param: {
        "Потребляемая мощноcть": "2000 Вт",
        "Обороты холостого хода": "6600 об/мин",
        "Диаметр диска": "230 мм",
        "Сетевой шнур": "2.5 м",
      },
      price: "8 670"
    },
    {
      id: "16604",
      href: "catalog.html?itemid=16604",
      src: "https://img.techelement.ru/dflkjDFGddf5rfsdGDFggdfg/auto/0/200/sm/0/plain/https://techelement.ru/content/files/catalog1/source/9404_1431270857.jpg",
      descr: "Болгарка Makita 9404",
      param: {
        "Потребляемая мощноcть": "1010 Вт",
        "Ширина ленты": "100 мм",
        "Сетевой шнур": "5 м",
        "Вес": "4.80 кг"
      },
      price: "19 984"
    },
    {
      id: "16605",
      href: "catalog.html?itemid=16605",
      src: "https://img.techelement.ru/dflkjDFGddf5rfsdGDFggdfg/auto/0/200/sm/0/plain/https://techelement.ru/content/files/catalog1/source/9903_1431273225.jpg",
      descr: "Болгарка Makita 9903",
      param: {
        "Потребляемая мощноcть": "1010 Вт",
        "Ширина ленты": "76 мм",
        "Сетевой шнур": "5 м",
        "Вес": "4.30 кг"
      },
      price: "19 733"
    },
    {
      id: "16607",
      href: "catalog.html?itemid=16607",
      src: "https://img.techelement.ru/dflkjDFGddf5rfsdGDFggdfg/auto/0/200/sm/0/plain/https://techelement.ru/content/files/catalog1/source/4112HS_1431276616.jpg",
      descr: "Болгарка Makita 4112HS",
      param: {
        "Потребляемая мощноcть": "1010 Вт",
        "Обороты холостого хода": "5000 об/мин",
        "Диаметр диска": "305 мм",
        "Вес": "11.40 кг"
      },
      price: "41 496"
    },
    {
      id: "16608",
      href: "catalog.html?itemid=16608",
      src: "https://img.techelement.ru/dflkjDFGddf5rfsdGDFggdfg/auto/0/200/sm/0/plain/https://techelement.ru/content/files/catalog1/source/4112HS_1431276616_2.jpg",
      descr: "Болгарка Makita 4112S",
      param: {
        "Потребляемая мощноcть": "2400 Вт",
        "Обороты холостого хода": "3500 об/мин",
        "Диаметр диска": "305 мм",
        "Вес": "11.40 кг"
      },
      price: "35 574"
    },
    {
      id: "16609",
      href: "catalog.html?itemid=16609",
      src: "https://img.techelement.ru/dflkjDFGddf5rfsdGDFggdfg/auto/0/200/sm/0/plain/https://techelement.ru/content/files/catalog1/source/4114S_1431277411.jpg",
      descr: "Болгарка Makita 4114S",
      param: {
        "Потребляемая мощноcть": "2400 Вт",
        "Обороты холостого хода": "3500 об/мин",
        "Диаметр диска": "355 мм",
        "Вес": "10.40 кг"
      },
      price: "44 008"
    },
    {
      id: "16610",
      href: "catalog.html?itemid=16610",
      src: "https://img.techelement.ru/dflkjDFGddf5rfsdGDFggdfg/auto/0/200/sm/0/plain/https://techelement.ru/content/files/catalog1/source/9046_1431277899.jpg",
      descr: "Болгарка Makita 9046",
      param: {
        "Потребляемая мощноcть": "600 Вт",
        "Обороты холостого хода": "6000 об/мин",
        "Амплитуда колебаний": "5 мм",
        "Сетевой шнур": "2 м"
      },
      price: "18 876"
    },
    {
      id: "16612",
      href: "catalog.html?itemid=16612",
      src: "https://img.techelement.ru/dflkjDFGddf5rfsdGDFggdfg/auto/0/200/sm/0/plain/https://techelement.ru/content/files/catalog1/source/9069_1431291199.jpg",
      descr: "Болгарка Makita 9069F",
      param: {
        "Потребляемая мощноcть": "2000 Вт",
        "Обороты холостого хода": "6600 об/мин",
        "Диаметр диска": "230 мм",
        "Вес": "5.30 кг"
      },
      price: "10 736"
    },
    {
      id: "16613",
      href: "catalog.html?itemid=16613",
      src: "https://img.techelement.ru/dflkjDFGddf5rfsdGDFggdfg/auto/0/200/sm/0/plain/https://techelement.ru/content/files/catalog1/source/9069_1431292137.jpg",
      descr: "Болгарка Makita 9069SF",
      param: {
        "Потребляемая мощноcть": "2000 Вт",
        "Обороты холостого хода": "6600 об/мин",
        "Диаметр диска": "230 мм",
        "Вес": "5.30 кг"
      },
      price: "11 483"
    },
    {
      id: "16617",
      href: "catalog.html?itemid=16617",
      src: "https://img.techelement.ru/dflkjDFGddf5rfsdGDFggdfg/auto/0/200/sm/0/plain/https://techelement.ru/content/files/catalog1/source/9403_1431293245.jpg",
      descr: "Болгарка Makita 9403",
      param: {
        "Потребляемая мощноcть": "1200 Вт",
        "Ширина ленты": "100 мм",
        "Сетевой шнур": "5 м",
        "Вес": "5.70 кг"
      },
      price: "20 495"
    },
    {
      id: "16621",
      href: "catalog.html?itemid=16621",
      src: "https://img.techelement.ru/dflkjDFGddf5rfsdGDFggdfg/auto/0/200/sm/0/plain/https://techelement.ru/content/files/catalog1/source/9557hn_1431294464.jpg",
      descr: "Болгарка Makita 9557HN",
      param: {
        "Потребляемая мощноcть": "840 Вт",
        "Обороты холостого хода": "11000 об/мин",
        "Диаметр диска": "115 мм",
        "Сетевой шнур": "2.5 м"
      },
      price: "5 540"
    },
    {
      id: "16624",
      href: "catalog.html?itemid=16624",
      src: "https://img.techelement.ru/dflkjDFGddf5rfsdGDFggdfg/auto/0/200/sm/0/plain/https://techelement.ru/content/files/catalog1/source/9558hn_1431294997.jpg",
      descr: "Болгарка Makita 9558HN",
      param: {
        "Потребляемая мощноcть": "840 Вт",
        "Обороты холостого хода": "11000 об/мин",
        "Диаметр диска": "125 мм",
        "Сетевой шнур": "2.5 м"
      },
      price: "5 540"
    }
  ]
h1 Часть 1-3
.products
  .product-list-header
    .menu-btn
      include menu
    div(data-tab-toggle)
  .product-list(data-product-list)
    each item in items
      +item(item)
