extends ../layout/main

block variables
  - var title = 'Сварочные Технологии - Тестовое задание';
  - var description = 'Сварочные Технологии - Тестовое задание';
  - var pageClass = '';

block content
  section.container
    include ../includes/modules/items-list

